

.camera {
    position: absolute;
    width:400px;
    background-color: #ccc;
    border:10px solid #ddd;
    margin:0 auto;
    position: sticky;
}
camera .ul{
    list-style-type: none;
}
camera .li{
    display: center;
}
.ccb {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.canvas {
    display: none;
}

.photo {
    position: absolute;
    z-index: 10;
    width: 120px;
    height: 120px;
    top: 0;
    left: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif; 
}

  .login{
      padding-top: 80px;
      display: block;
      text-align: center;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkred;
    color: white;
    text-align: center;
  }

  .footer a{
      color: white;
  }

  .row {
      box-align: center;
  }

