
body{
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    padding: 10px;
    text-align: left;
    background: rebeccapurple;
    color: white;
    font-size: 30%;
  }

  .login{
      padding-top: 80px;
      display: block;
      text-align: center;
  }